<h2>フォロー</h2>

<% if @members.exists? %>
  <div class="row" id="follower_lists">
    <!-- フォロワー一覧 -->
    <%= render "members/members/member_lists", { members: @members }  %>
  </div>
<% else %>
  <p class="NoCount">フォローしている人はいません</p>
<% end %>

<!-- もっと見るボタン -->
<%= render "layouts/and_more_button", { model: @members } %>