<h2>Memberフォロー</h2>

<% if @members.count > 0 %>
  <table cellspacing="5">
    <tbody>
    <%= render partial: "members/members/member", collection: @members  %>
    </tbody>
  </table>
<% else %>
  <p>フォローしている人はいません</p>
<% end %>