<h2>タイムライン</h2>

<!-- ツイート検索フォーム -->
<%= render "members/tweets/search_form", { search_params: @search_params, admin_flag: true } %>

<div class="twitter__container">
  <div class="twitter__title">
    <span class="twitter-logo">♬</span>
  </div>
  <div class="twitter__contents" id="tweets">
    <!-- ツイート一覧 -->
    <%= render "admins/tweets/tweet_lists", { tweets: @tweets }  %>
  </div>
</div>

<!-- もっと見るボタン -->
<%= render "layouts/and_more_button", { model: @tweets } %>