<h2>Adminツイート一覧</h2>

<!-- ツイート検索フォーム -->
<%= render "members/tweets/search_form", { search_params: @search_params, admin_flag: true } %>

<table cellspacing="5">
  <tbody>
    <!-- ツイート一覧 -->
    <%= render partial: "tweet", collection: @tweets, locals: { tweet_flag: true } %>
  </tbody>
</table>