<h2>ツイート詳細</h2>

<div class="twitter__container">

  <div class="twitter__title">
    <span class="twitter-logo">♬</span>
  </div>
  <div class="twitter__contents" id="tweet_comments">
    <!-- ツイートの詳細 -->
    <div class="twitter__block" id="tweet_comment_tweet">
      <%= render "members/tweets/tweet", { tweet: @tweet, tweet_flag: true, current_member: @tweet.member,
        show_path: admins_tweet_path(@tweet.id) } %>
    </div>
    <!-- ツイートコメント一覧 -->
    <%= render "admins/tweets/tweet_comment_lists", { tweet_comments: @tweet_comments }  %>
  </div>
</div>

<!-- もっと見るボタン -->
<%= render "layouts/and_more_button", { model: @tweet_comments } %>