$('#tweets').prepend('<div class="twitter__block" id="tweet-<%= @tweet.id %>">' + '<%= j(render partial: "tweet", locals: { tweet: @tweet, tweet_flag: true }) %>' + '</div>');
$(".notification").html("<%= j(render "layouts/notification.html.erb") %>");
$("textarea").val('');