<h2>足跡一覧</h2>

<% if @accesses.exists? %>
  <table class="table table-hover table-inverse mt-3">
    <tbody id="access_lists">
      <%= render partial: "access", collection: @accesses %>
    </tbody>
  </table>
<% else %>
  <p class="NoCount">足跡はありません</p>
<% end %>

<!-- もっと見るボタン -->
<%= render "layouts/and_more_button", { model: @accesses } %>
