<h2>Adminジャンル編集</h2>
<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @genre %>

<!-- ジャンル編集フォーム -->
<%= render "form", { genre: @genre, edit_flag: true, action: admins_genre_path(@genre) } %>