<h2>Adminジャンル一覧</h2>
<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @genre %>

<!-- ジャンル追加フォーム -->
<%= render "form", { genre: @genre, edit_flag: false, action: admins_genres_path } %>

<table cellspacing="5">
  <tbody>
    <%= render @genres %>
  </tbody>
</table>