<!--③右コメント始-->
<div id="message-<%= message.id %>">
<div class="mycomment">
  <p><%= message.body %></p>
</div>
<p>
  <%= I18n.l(message.updated_at, format: :original) %>
  <button type="button" data-message_id="<%= message.id %>" class="delete_button fas fa-trash" style="color: #757575;"></button>
</p>
</div>
<!--/③右コメント終-->