<h2>ブロッカーリスト</h2>

<% if @members.exists? %>
  <div class="row" id="blocked_lists">
    <!-- ブロッカーリスト -->
    <%= render "admins/members/member_lists", { members: @members }  %>
  </div>
<% else %>
  <p class="NoCount">ブロックされている人はいません</p>
<% end %>
