<h2>フォロワー</h2>

<% if @members.exists? %>
  <div class="row" id="followed_lists">
    <!-- フォロワー一覧 -->
    <%= render "admins/members/member_lists", { members: @members }  %>
  </div>
<% else %>
  <p class="NoCount">フォロワーはいません</p>
<% end %>
