<h2>フォロー</h2>

<% if @members.exists? %>
  <div class="row" id="follower_lists">
    <!-- フォロー一覧 -->
    <%= render "admins/members/member_lists", { members: @members }  %>
  </div>
<% else %>
  <p class="NoCount">フォローしている人はいません</p>
<% end %>
