<!-- 会員検索フォーム -->
<%= render "members/members/search_form", { search_params: @search_params, admin_flag: true } %>

<h2>メンバー一覧</h2>

<div class="row">
  <!-- メンバー一覧 -->
  <% @members.each do |member| %>
    <div class="col-lg-6">
      <div class="row">
        <%= render partial: "members/members/member", locals: { member: member, member_path: admins_member_path(member.id) } %>
      </div>
      <!-- メンバーステータス更新フォーム -->
      <div class="row justify-content-center">
        <%= render "layouts/status_form", { model: member, action: admins_member_path(member.id) } %>
      </div>
    </div>
  <% end %>
</div>
