<!-- 記事ステータス更新フォーム -->
<div class="row mt-5">
  <div class="col-lg-12 d-flex justify-content-end">
    <%= render "layouts/status_form", { model: @member, action: admins_member_path(@member.id) } %>
  </div>
</div>
<!-- 管理者にログインメンバーの権限を付与する -->
<%= render file: "members/members/show", locals: { current_member: @member } %>

