<!-- 記事新規投稿ページへのリンク -->
<div class="row">
  <div class="col-6">
    <!-- 記事検索フォーム -->
    <%= render "members/articles/search_form", { search_params: @search_params, admin_flag: false } %>
      </div>
      <div class="col-6 text-right mt-2">
    <%= link_to new_article_path do %>
      <i class="fas fa-plus-circle fa-3x faa-shake animated-hover" style="color: #F99292;"></i>
    <% end %>
  </div>
</div>

<h2>バンド記事一覧</h2>

<div class="row">
  <!-- 記事一覧 -->
  <% @articles.each do |article| %>
    <div class="col-lg-6">
      <div class="row">
        <!-- ブロックされている会員の記事は表示され無い -->
        <% unless article.member.blocking?(current_member) %>
          <%= render partial: "members/articles/article", locals: { article: article, article_path: article_path(article.id) } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>