<h2>Member記事一覧</h2>

<%= render "members/articles/search_form", { search_params: @search_params } %>

<%= link_to "新規投稿", new_article_path %>

<table cellspacing="5">
  <tbody>
    <%= render @articles %>
  </tbody>
</table>