<!-- 記事検索フォーム -->
<%= render "members/articles/search_form", { search_params: @search_params, admin_flag: false } %>

<!-- 記事新規投稿ページへのリンク -->
<h3><%= link_to "新規投稿", new_article_path %></h3>

<h2>バンド記事一覧</h2>

<div class="row">
  <!-- 記事一覧 -->
  <% @articles.each do |article| %>
    <!-- ブロックされている会員の記事は表示され無い -->
    <% unless article.member.blocking?(current_member) %>
      <%= render partial: "members/articles/article", locals: { article: article, article_path: article_path(article.id) } %>
    <% end %>
  <% end %>
</div>