<h2>バンド記事一覧（トップ）</h2>

<div class="row">
  <!-- 記事一覧 -->
  <% @articles.each do |article| %>
    <%= render partial: "members/articles/article", locals: { article: article, article_path: article_path(article.id) } %>
  <% end %>
</div>