<h2>パート編集</h2>
<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @part %>

<!-- パート編集フォーム -->
<%= render "layouts/admin_add_form", { scope: :part, model: @part, action: admins_part_path(@part.id) } %>