<h2>Adminパート編集</h2>
<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @part %>

<!-- パート編集フォーム -->
<%= render "form", { part: @part, edit_flag: true, action: admins_part_path(@part) } %>