<h2>Adminパート一覧</h2>
<!-- バリデーションのエラーメッセージ -->
<%= render "/layouts/error_messages", model: @part %>

<!-- パート追加フォーム -->
<%= render "form", { part: @part, edit_flag: false, action: admins_parts_path } %>

<table cellspacing="5">
  <tbody>
    <%= render @parts %>
  </tbody>
</table>