<!-- 対象会員が自分でない場合ブロックボタンを表示する -->
<% if current_member != member %>
  <!-- ブロックしていればブロックするボタンを、ブロックしていればブロック解除ボタンを表示 -->
  <% if current_member.blocking?(member) %>
    <span class="BlockButton">
      <%= link_to 'ブロック解除', member_blocks_path(member.id), method: :delete, remote: true, class: "btn btn-sm btn-secondary" %>
    </span>
  <% else %>
    <span class="BlockButton">
      <%= link_to 'ブロックする', member_blocks_path(member.id), method: :post, remote: true, class: "btn btn-sm btn-secondary" %>
    </span>
  <% end %>
<% end %>