<h2>ブロックリスト</h2>

<% if @members.exists? %>
  <div class="row" id="blocker_lists">
    <!-- ブロックリスト一覧 -->
    <%= render "members/members/member_lists", { members: @members }  %>
  </div>
<% else %>
  <p>ブロックしている人はいません</p>
<% end %>

<!-- もっと見るボタン -->
<div class="w-100 text-center mx-auto">
  <%= link_to_next_page @members, 'もっと見る', remote: true, id: 'view_more', class: "m-5 btn btn-primary", style: "color: white;" %>
</div>