<% members.each do |member| %>
  <div class="col-lg-6">
    <div class="row">
      <%= render partial: "members/members/member", locals: { member: member, member_path: member_path(member.id) } %>
    </div>
  </div>
<% end %>