<h2>お気に入り</h2>

<% if @favorited_articles.exists? %>
  <div class="row">
    <!-- お気に入り記事一覧 -->
    <div id="favorited_article_lists" class="col-lg-12">
      <!-- kaminariでページネーションのため部分テンプレート化 -->
      <%= render "members/articles/article_lists", { articles: @favorited_articles } %>
    </div>
  </div>
<% else %>
  <p class="NoCount">お気に入り記事はありません</p>
<% end %>

<!-- もっと見るボタン -->
<%= render "layouts/and_more_button", { model: @favorited_articles } %>