<h2>お気に入り記事一覧</h2>

<% if @favorited_articles.count > 0 %>
<table cellspacing="5">
  <tbody>
    <%= render partial: "members/articles/article", collection: @favorited_articles %>
  </tbody>
</table>
<% else %>
  <p>お気に入り記事はありません</p>
<% end %>