<h2>お気に入り</h2>

<% if @favorited_articles.exists? %>
  <div class="row">
    <!-- お気に入り記事一覧 -->
    <div id="favorited_article_lists" class="col-lg-12">
      <!-- kaminariでページネーションのため部分テンプレート化 -->
      <%= render "members/articles/article_lists", { articles: @favorited_articles } %>
    </div>
  </div>
<% else %>
  <p>お気に入り記事はありません</p>
<% end %>

<!-- もっと見るボタン -->
<div class="w-100 text-center mx-auto">
  <%= link_to_next_page @favorited_articles, 'もっと見る', remote: true, id: 'view_more', class: "m-5 btn btn-primary", style: "color: white;" %>
</div>