<h2>お気に入り</h2>

<% if @favorited_articles.count > 0 %>
  <div class="row">
    <%= render partial: "members/articles/article", collection: @favorited_articles %>
  </div>
<% else %>
  <p>お気に入り記事はありません</p>
<% end %>
