<h2>Member会員一覧</h2>

<!-- 会員検索フォーム -->
<%= render "members/members/search_form", { search_params: @search_params, admin_flag: false } %>

<table cellspacing="5">
  <tbody>
    <%= render partial: "members/members/member", collection: @members %>
  </tbody>
</table>