document.addEventListener 'turbolinks:load', ->
  App.room = App.cable.subscriptions.create { channel: "RoomChannel", room: $('#messages').data('room_id') },
    connected: ->

    disconnected: ->

    received: (data) ->
      $('#messages').append('<div id="message_' + data['message_id'] + '"></div>')
      if $('#messages').data('member_id') == data['current_member_id']
        $("#message_#{data['message_id']}").html("<%= render 'members/messages/my_message', { message: #{data['message']} } %>")
      else
        $("#message_#{data['message_id']}").html("<%= render 'members/messages/message', { message: #{data['message']} } %>")

    speak: (message) ->
      @perform 'speak', message: message

  $('#chat-input').on 'keypress', (event) ->
    if event.keyCode is 13
      App.room.speak(event.target.value)
      event.target.value = ''
      event.preventDefault()
