/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

// 全体へ適用
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ナビゲーションバーのレイアウト
nav {
  background-color: #FFBC61;
  .profile_image{
  overflow: hidden;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border: #fff 1px solid;
  border-radius: 55px;
  background: #fff;
  }
}

// ヘッダー右上の警告・通知メッセージ
#notice, #alert {
  height: 40px;
  padding: 0px 10px;
  line-height: 40px;
}
// ヘッダー右上の通知メッセージ
#notice {
  margin-bottom: 0px;
}

// ヘッダー右上の警告メッセージ
#alert {
  margin-bottom: 0px;
}

// 管理者ログイン時のみナビゲーションバーの背景を黒っぽくする
.navbar-admins {
  background-color: #4C4C4C;
}

// ナビゲーションバーより上のヘッダー
header {
  padding-top: 1.5rem;
  background-color: white !important;
}

// ナビゲーションバーの下のメイン部分
main {
  color: #757575;
  background-color: #FFF4E0;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  background-color: #FFF4E0;
}

// フォーム類のマージンボトム
.field {
  margin-bottom: 1.1em;
}

// 全ページの見出し
h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;
}

// 全ページの見出しのラベルデザイン
h2::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

// 全てのbootstrapのフォームに影をつける
.form-control {
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
}

// 全てのリンクにマウスを乗せると少し拡大する動きをつける
a {
  display: inline-block;
  padding: 0.3em;
  transition: .2s;
  transform: scale(1);
}

a:hover, .btn:hover {
  transition: .2s;
  transform: scale(1.05);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #757575;
}

// bootstrapのプライマリーカラーを変更
.btn-primary {
  color: #ffffff;
  background-color: #F99292;
  border-color: #ec8585;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #e97d79;
  border-color: #df6556;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-outline-primary {
  background-image: none;
}

// ブロック・アンブロックのボタンのレイアウト
.BlockButton {
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
  }
}

// フォロー・フォロワーのボタンのレイアウト
.FollowButton {
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
  }
}

//全てのラベルのマージンライト
label {
  margin-right: 10px;
}

// 検索フォームのデフォルトを非表示に
.search_form {
  display: none;
}

// 検索ボタン（虫眼鏡）のデフォルトレイアウトを無くす
.search_button{
  margin-top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.field_with_errors {
  display: contents;
}

.MessageCard {
  background-image: url('letter.jpg');
}