<h2>Admin記事一覧</h2>
<%= render "/layouts/error_messages", model: @article %>

<table cellspacing="5">
  <tbody>
    <%= render partial: "members/articles/article", collection: @articles %>
  </tbody>
</table>